beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
DateTime==4.3
Flask==1.1.1
geojson==2.5.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.9.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.17
pprint==0.1
PyMySQL==0.9.3
pyowm==2.10.0
pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.22.0
six==1.13.0
soupsieve==1.9.3
telebot==0.0.3
urllib3==1.25.5
Werkzeug==0.16.0
zope.interface==4.7.1