<!DOCTYPE html>
<html lang="en">

<!-- Задний фон сайта -->
<style>
	body {
	background-image: url(https://wallbox.ru/wallpapers/main/201423/82101fccc1eb042.jpg);
	background-size: cover;
		 }
</style>

<head>
	<meta charset="UTF-8">
	<title>RismusDrake</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>

<!-- Создание верхней строки -->
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">RismusDrake</a>
			</div>

			<div class="nav navbar-nav">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{url_for("home")}}">Главная</a></li>>
					<li><a href="{{url_for("weather")}}">Погода</a></li>
	        		<li><a href="{{url_for("money")}}">Курс валют</a></li>
	    			<li><a href="{{url_for("movies")}}">Фильмы</a></li>
	    		</ul>
    		</div>
    	</div>
    </nav>
</body>

<body>
    <div class="text-center" style="color:white">
    	<h1>Добро пожаловать на сайт RismusDrake</h1>
    	<br><br><br><br><br>
    	<h3>Здесь вы можете узнать все о погоде в Минске на сегодня,</h3>
    	<h3>список фильмов, идущих в кинотеатрах и о курсе валют на сегодня.</h3>
    	<h3>Этот сайт был создан на языке программирования Python</h3>
    	<h3>в качестве Дипломного проекта.</h3>
    	<h3>Надеюсь вам всем здесь понравиться.</h3>
    </div>
</body>
</html>