<!DOCTYPE html>
<html lang='en'>

<style>
    body {
    background-image: url(https://flipwallpapers.com/wallpapers/black-wallpaper-For-desktop-Wallpaper.jpg);
    background-size: cover;
         }
</style>

<head>
    <meta charset='UTF-8'>
    <title>RismusDrake - courses</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>

<body>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">RismusDrake</a>
            </div>

            <div class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for("home")}}">Главная</a></li>>
                    <li><a href="{{url_for("weather")}}">Погода</a></li>
                    <li><a href="{{url_for("money")}}">Курс валют</a></li>
                    <li><a href="{{url_for("movies")}}">Фильмы</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

<body>
    <div class="container-fluid">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="Поиск" style="color:white">Поиск валюты</label>
                <input type="Поиск" class="form-control" id="Поиск" placeholder="Введите название валюты">
                <button class="btn btn-default">Поиск</button>
            </div>
        </form>
    </div>
</body>

<body>
    <div class="text-center" style="color:white">
    <h2><p>Курс валют на сегодня</p></h2>
    <br>
        {% for courses in course %}
            <h4>За {{courses.Cur_Scale}} {{courses.Cur_Name}} ({{courses.Cur_Abbreviation}}) - {{courses.Cur_OfficialRate}} Белоруских рублей (BYN)</h4>
        {% endfor %}
    </div>
</body>
</html>