<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <body bgcolor=green text=silver>
    <title>Фильмы</title>
</head>

<body>
    <div align="center"><font size=5>Категории:</font>
        <h4><a href="{{ url_for('home') }}">Начальная страница</a></h4>
        <h4><a href="{{ url_for('weather') }}">Погода</a></h4>
        <h4><a href="{{ url_for('money') }}">Курс валют</a></h4>
    </div>

<h2 align="center">Сегодня в кинотеатрах: {{ time_now }}</h2>

<ul>
    {% for movies in l_m %}
    <li style=" display: inline-block; vertical-align: top; width: 200px; padding: 25px">
        <a href="{{ movies.link }}">
            <img src="{{ movies.image }} ">
        </a>
        <b>{{ movies.name }} </b>
        <p>{{ movies.info }}</p>
    </li>
    {% endfor %}
</ul>
</body>
</html>